<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" th:href="@{/css/recoverypassword.css}">
    <link rel="icon" type="image/png" th:href="@{/images/iconesite.jpg}">
</head>
<body>
    <div class="login-wrapper">
        
        <!-- Lado Esquerdo: Formulário de Recuperação -->
        <div class="form-panel">
            <div class="form-box">
                <div class="login-title-image">
                    <img th:src="@{/images/GeoSolar-logo.jpeg}" alt="GeoSolar" class="bg-image">
                </div>
                <h2 class="login-title">Recuperar Senha</h2>
                <p class="login-subtitle">Digite seu e-mail e enviaremos instruções para redefinir sua senha.</p>
                
                <form th:action="@{/recoverypassword}" method="post">
                    
                    <div class="input-group">
                        <label for="email">E-mail cadastrado</label>
                        <input type="email" id="email" name="email" placeholder="exemplo@email.com" required>
                    </div>

                    <div class="login-button-container">
                        <button type="submit">Enviar link</button>
                    </div>

                    <div class="login-redirect-options">
                        <p>Lembrou a senha? <a th:href="@{/login}">Voltar para o Login</a></p>
                    </div>
                </form>
            </div>
        </div>

        <!-- Lado Direito: Imagem -->
        <div class="image-panel">
            <img th:src="@{/images/imagem-lampada.avif}" alt="Energia Sustentável" class="bg-image">
        </div>

    </div>
</body>
</html>